html {
  background-color: #f6f6f6;
}

img {
  width: 100%;
  height: 100%;
}

i img {
  width: 100%;
  height: 100%;
}

/* header */
header {
  width: 100%;
  height: 106px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.container {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.container_menu {
  width: 50px;
  height: 106px;
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_menu img {
  width: 20px;
  height: 20px;
}

.container_logo {
  width: 167px;
  height: 106px;
  display: flex;
  align-items: center;
}

.container_logo img {
  width: 100%;
  height: 50%;
}

.container_product-search {
  width: 1170px;
  height: 106px;
  position: relative;
  padding: 30px 20px;
  display: flex;
}

.searchform {
  display: flex;
  width: 100%;
  margin-bottom: 0;
  align-items: center;
  -moz-box-align: center;
}

.ontainer_product-search_category {
  position: relative;
  max-width: 210px;
  padding-right: 20px;
}

.container_product-search_input {
  width: 498px;
  height: 45px;
  overflow: hidden;
  position: relative;
  margin-left: 50px;
}

.container_product-search_input label {
  display: block;
  position: absolute;
  top: 10px;
  color: #999999;
  transition: 0.4s;
  pointer-events: none;
}

#Product-search-keyword {
  width: 498px;
  height: 45px;
  width: 100%;
  padding-right: 40px;
  padding-left: 0px;
  border: none;
  border-radius: 0;
  font-size: inherit;
  line-height: inherit;
}

#product_cat {
  width: 182px;
  height: 38px;
  border: none;
}

.container_menu-user {
  width: 85px;
  height: 106px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.container_menu-cart {
  widtH: 98px;
  height: 106px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "open sans";
}

.container_menu-cart button {
  border: none;
  width: 58px;
  height: 29px;
  color: #003c85;
  font-size: 16px;
  background-color: transparent;
}

footer {
  width: 100%;
  height: auto;
}

.footer_widget-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.footer_widget-area_container {
  width: 1600px;
  height: 100%;
  display: flex;
}

.grid_item {
  width: 534px;
  height: 311px;
  padding: 15px;
}

.contact_info {
  width: 100%;
  height: 100%;
}

.contact_info h3 {
  width: 100%;
  height: 32px;
  font-family: Playfair Display;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 1.5em;
}

.contact_info p {
  width: 100%;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: Open sans;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
}

.contact_info span {
  width: 100%;
  height: 30px;
  font-size: 1.5em;
}

.contact_info span a {
  color: #003c85;
}

.social_network {
  width: 100%;
  height: 100%;
}

.social_network h3 {
  width: 100%;
  height: 32px;
  font-family: Playfair Display;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 1.5em;
}

.social_network p {
  width: 100%;
  height: 28px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}

.social-links_medium_rounded {
  width: 100%;
  height: 48px;
  font-size: 20px;
}

.social-links_medium_rounded span {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-links_medium_rounded span img {
  width: 80%;
  height: 80%;
}

.subscribe-form {
  width: 100%;
  height: 100%;
}

.subscribe-form h3 {
  width: 100%;
  height: 32px;
  font-family: Playfair Display;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 1.5em;
}

.subscribe-form p {
  width: 100%;
  height: 29px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.form-fields {
  width: 483px;
  height: 44px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #bdbdbd;
  border-radius: 50px;
  padding: 8px 20px;
  font-family: inherit;
  font-size: inherit;
}

.form-fields label {
  display: none;
}

#email {
  width: 100%;
  display: inline-block;
}

.form-fields input {
  width: 340px;
  height: 44px;
  border: none;
  color: #db1037;
  padding-right: 20px;
  background-color: transparent;
}

.form-fields input:nth-of-type(2) {
  width: 95px;
  height: 44px;
}

.footer_colophon {
  width: 100%;
  height: 106px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1600px;
  height: 67px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.container_lift {
  width: 50%;
  height: 59px;
  font-family: open sans;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.8;
  color: #616161;
  display: flex;
  align-items: center;
}

.container_lift span a {
  color: #db1037;
}

.container_right {
  width: 50%;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 15px 15px;
}

.container_right img {
  width: 217px;
  height: 16px;
}

.notice {
  width: 100%;
  height: 83px;
  background-color: black;
  color: white;
  padding: 20px;
  font-weight: normal;
  text-align: center;
  font-size: 16px;
  line-height: 23px;
}

.start_subscript {
  font-family: "open sans";
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  background-color: #237AF6;
  border-radius: 0px 0px 0px 0px;
  padding: 16px 32px 16px 32px;
  display: flex;
  justify-content: center;
  color: #fff;
}

.span-line {
  width: 134px;
  height: 7px;
  display: inline-block;
  background-color: #003c85;
  margin-bottom: 10px;
}

span img {
  width: 20px;
  height: 15px;
  margin-left: 5px;
}