@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* section1 */
section {
  display: flex;
  justify-content: center;
}

.section1 {
  margin-top: 0em;
  margin-bottom: 4em;
  padding: 0 32px;
  margin-top: 170px;
}

.section1_main {
  width: 1600px;
  height: 885px;
  display: flex;
  margin: 0 0 0 64px;
}

.section1_main_left {
  width: 800px;
  height: 885px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.section1_main_right {
  width: 800px;
  height: 885px;
  background-color: yellow;
}

.section1_main_title {
  width: 100%;
  height: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #2B2B2B;
  font-family: "Open Sans", Sans-serif;
}

.section1_main_line {
  width: 100%;
  height: 11px;
  background-color: blue;
  margin-bottom: 20px;
}

.section1_main_line span {
  width: 134px;
  height: 7px;
  background-color: #003c85;
}

.section1_main_name {
  width: 100%;
  height: 116px;
  background-color: violet;
  margin-bottom: 20px;
}

.section1_main_page {
  width: 100%;
  height: 118px;
  background-color: yellowgreen;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
}

.section1_main_page_left {
  width: 50%;
  height: 118px;
  background-color: red;
}

.section1_main_page_left_wrappe {
  width: 238px;
  height: 50px;
  background-color: #237AF6;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.section1_main_page_right {
  width: 50%;
  height: 118px;
  background-color: blue;
}

.section1_main_icon {
  width: 100%;
  height: 104px;
  background-color: lightsalmon;
  display: flex;
}

.section1_main_icon_tag {
  width: 33.3%;
  height: 104px;
  background-color: green;
}

.section1_main_right_main_title_imgpage {
  width: 460px;
  height: 673px;
  background-color: greenyellow;
}

.section2 {
  margin-top: 0em;
  margin-bottom: 4em;
}

.section2_main {
  width: 1600px;
  height: 225px;
  display: flex;
}

.section2_main_left {
  width: 50%;
  height: 225px;
  padding: 10px;
}

.section2_main_left_text {
  width: 100%;
  height: 174px;
  text-align: right;
  font-size: 38px;
  font-weight: 600;
  color: #2b2b2b;
  font-family: "Playfair Display";
  line-height: 50px;
  padding: 40px 0;
}

.section2_main_left_line {
  width: 100%;
  height: 11px;
  background-color: green;
}

.section2_main_right {
  width: 50%;
  height: 225px;
  padding: 10px;
}

.section2_main_right_populater {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.section2_main_right_populater_container {
  width: 503px;
  height: 81px;
}

.section3 {
  width: 1540px;
  height: 1700px;
  margin: 0 auto;
}

.section3_main {
  width: 1416px;
  height: 1650px;
  background-color: #666;
  padding: 30px;
}

.section3_main_populater {
  width: 100%;
  height: 100%;
}

.section3_1 {
  width: 100%;
  height: 51px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.section_3_1_main {
  width: 100%;
  height: 51px;
  display: flex;
  padding: 0 10px;
}

.section_3_1_main_text {
  width: 35%;
  height: 51px;
  font-family: "Playfair Display";
  font-size: 20px;
  font-weight: 600;
  color: #2B2B2B;
}

.section_3_1_main_line {
  width: 65%;
  height: 51px;
  background-color: greenyellow;
}

.section3_main_populater {
  width: 100%;
  height: 896px;
}

.section3_main_populater_container {
  width: 100%;
  height: 896px;
  display: flex;
  flex-wrap: wrap;
}

.section3_main_populater_container_list {
  width: 20%;
  height: 400px;
  background-color: blue;
  padding: 15px 15px;
}

.section3_main_populater_container_list_inner {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section3_main_populater_container_list_inner_image {
  width: 100%;
  height: 60%;
  background-color: skyblue;
}

.section3_main_populater_container_list_inner_detail {
  width: 100%;
  height: 30%;
  background-color: purple;
}

.section3_main_populater_container_list_inner_detail_title {
  width: 100%;
  height: 50%;
  background-color: #CD40E5;
}

.section3_main_populater_container_list_inner_detail_price {
  width: 100%;
  height: 40%;
  background-color: yellowgreen;
}

.section3_2 {
  width: 100%;
  height: 51px;
}

.section3_2_main {
  width: 100%;
  height: 51px;
  display: flex;
}

.section3_2_main_text {
  width: 35%;
  height: 51px;
  font-family: "Playfair Display";
  font-size: 20px;
  font-weight: 600;
  color: #2B2B2B;
  padding: 0 10px;
}

.section3_2_main_line {
  width: 65%;
  height: 51px;
  background-color: greenyellow;
}

.section3_main_subpopulate {
  width: 100%;
  height: 590px;
  background-color: orange;
}

.section3_main_subpopulate_container {
  width: 100%;
  height: 590px;
  background-color: orange;
  display: flex;
}

.section4 {
  width: 1476px;
  height: 593px;
  padding: 5em 2em 5em 2em;
  padding: 5em 2em 5em 2em;
  margin: 0 auto;
  margin-top: 8em;
  margin-bottom: 3em;
}

.section4_main {
  width: 100%;
  height: 100%;
}

.section4_main_populater {
  width: 100%;
  height: 100%;
}

.section4_main_name {
  width: 1456px;
  height: 58px;
  margin-bottom: 20px;
  color: #2B2B2B;
  font-family: "Playfair Display", Sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.section4_main_name_container {
  width: 1456px;
  height: 58px;
}

.section4_main_line {
  width: 1456px;
  height: 11px;
  margin-bottom: 20px;
  background-color: aquamarine;
}

.section4_main_list {
  width: 1456px;
  height: 151px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.section4_main_list_container {
  width: 485.33px;
  height: 151px;
  padding: 10px;
}

.section4_main_list_container_list {
  width: 100%;
  height: 100%;
}

.section4_main_list_container_list_populate {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section4_main_list_container_list_populate_number {
  width: 100%;
  height: 20px;
}

.section4_main_list_container_list_populate_text {
  width: 100%;
  height: 91px;
}

.section4_main_list_container_list_populate_text_container {
  width: 100%;
  height: 81px;
}

.section4_main_list_container_list_populate_number_container h2 {
  color: #444444;
  font-family: "Open Sans", Sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.section4_main_default {
  width: 100%;
  height: 88px;
  display: flex;
}

.section4_main_default_left {
  width: 50%;
  height: 88px;
  padding: 10px;
}

.section4_main_default_left_populate {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section4_main_default_left_populate_title {
  width: 100%;
  height: 20px;
  color: #2B2B2B;
  font-family: "Open Sans", Sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.section4_main_default_left_populate_email {
  width: 100%;
  height: 28px;
  font-family: "Open Sans", Sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.section4_main_default_right {
  width: 50%;
  height: 88px;
  padding: 10px;
}

.section4_main_default_right_populate {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.section4_main_default_right_populate_container {
  width: 238px;
  height: 50px;
  background-color: darkblue;
}

.section5_main {
  width: 1540px;
  height: 580px;
  background-color: #237AF6;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}

.section5_main_sub {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
}

.section5_main_left {
  width: 50%;
  height: 580px;
  padding: 10px;
}

.section5_main_left_populate {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section5_main_left_populate_container {
  width: 440px;
  height: 660px;
  background-color: #ED2874;
}

.section5_main_right {
  width: 50%;
  height: 580px;
  padding: 10px;
}

.section5_main_right_populate {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section5_main_right_populate_book {
  width: 100%;
  height: 20px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.9098039216);
  font-family: "Open Sans", Sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.section5_main_right_populate_name {
  width: 100%;
  height: 58px;
  color: #FFFFFF;
  font-family: "Playfair Display", Sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.section5_main_right_populate_line {
  width: 100%;
  height: 11px;
  background-color: orangered;
  margin-bottom: 20px;
}

.section5_main_right_populate_text {
  width: 100%;
  height: 91px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.9098039216);
  font-family: "Open Sans", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.section5_main_right_populate_link {
  width: 100%;
  height: 29px;
}

.section5_main_right_populate_link_container a {
  color: rgba(255, 255, 255, 0.9098039216);
  font-family: "Open Sans", Sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.section6 {
  margin-top: 8em;
  margin-bottom: 3em;
  padding: 0em 2em 0em 2em;
}

.section6_default {
  width: 1476px;
  height: 429px;
  padding: 10px;
}

.section6_default_populate {
  width: 100%;
  height: 100%;
}

.section6_default_populate_title {
  width: 100%;
  height: 58px;
  margin-bottom: 20px;
  color: #2B2B2B;
  font-family: "Playfair Display", Sans-serif;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
}

.section6_default_populate_line {
  width: 100%;
  height: 11px;
  background-color: darkgrey;
  margin-bottom: 20px;
}

.section6_list_list {
  width: 1456px;
  height: 268px;
  background-color: darkgreen;
}

.section7 {
  width: 1540px;
  height: 75px;
  margin: 0 auto;
}

.section7_populate {
  width: 1140px;
  height: 75px;
  background-color: aquamarine;
  padding: 10px;
}

.section7_populate_container {
  width: 100%;
  height: 100%;
  background-color: white;
}

.section8 {
  width: 1540px;
  height: 165px;
  padding: 2em 2em 2em 2em;
  margin: 0 auto;
}

.section8_default {
  width: 100%;
  height: 100%;
  display: flex;
}

.section8_default_left {
  width: 50%;
  height: 100%;
  padding: 10px;
}

.section8_default_left_populate {
  width: 100%;
  height: 100%;
}

.section8_default_left_populate_title {
  width: 100%;
  height: 20px;
  margin-bottom: 20px;
  color: #2B2B2B;
  font-family: "Open Sans", Sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.section8_default_left_populate_email {
  width: 100%;
  height: 20px;
}

.section8_default_left_populate_email a {
  font-family: "Open Sans", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #939393;
}

.section8_default_right {
  width: 50%;
  height: 100%;
  background-color: skyblue;
  padding: 10px;
}

.section8_default_right_container {
  width: 100%;
  height: 100%;
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section8_default_right_container_list {
  width: 100%;
  height: 10px;
  background-color: brown;
}