@charset "utf-8";

/* header */

header{
    width: 100%;
    height: 106px;
    background-color: red ;
    position:fixed;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
}

.container{
display: flex;
width:80%;
}

.container_menu{
    width:50px;
    height:106px;
    position:relative;
    padding: 0;
    background-color: yellow;
}

.container_logo{
    width:167px;
    height:106px;
    background-color: green;
}

.container_product-search{
    width:60%; 
    height: 106px;
    background-color: blue;
}

.container_menu-user{
    width:85px;
    height: 106px;
    background-color: violet;
}

.container_menu-cart{
    widtH:98px;
    height:106px;
    background-color: gray;
}
