@charset "utf-8";

$mainColor: #237AF6;
$subColor: #003c85;
$pointColor: #db1037;

html{
    background-color: #f6f6f6;
}

img{
    width:100%;
    height: 100%;
}

i img{
    width: 100%;
    height: 100%;
}

/* header */

header{
    width: 100%;
    height: 106px;
    background-color: white ;
    position:fixed;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 99
}

.container{
display: flex;
width:80%;
justify-content: center;
align-items: center;
}

.container_menu{
    width:50px;
    height:106px;
    position:relative;
    padding: 0;
    display:flex;
    align-items: center;
    justify-content: center;
}

.container_menu img{
    width: 20px;
    height: 20px;
}

.container_logo{
    width:167px;
    height:106px;
    display: flex;
    align-items: center;
}

.container_logo img{
    width:100%;
    height:50%;
}

.container_product-search{
    width:1170px; 
    height: 106px;
    background-color: blue;
}

.container_menu-user{
    width:85px;
    height: 106px;
    background-color: violet;
    display: flex;
    align-items: center;
    text-align: center;
}

.container_menu-cart{
    widtH:98px;
    height:106px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'open sans';

}

.container_menu-cart button{
    border: none;
    width: 58px;
    height: 29px;
    color: $subColor;
    font-size: 16px;
    background-color: transparent;
}

// footer

footer{
    width: 1900px;
    height: 450px;
    padding: 70px 0;
}

.footer_widget-area{
    width: 1900px;
    height:100%;
    display: flex;
    justify-content: center;
    text-align:center;
}

.footer_widget-area_container{
    width:1600px;
    height: 100%;
    display:flex;
}

.grid_item{
    width: 534px;
    height: 311px;
    padding: 15px;
}

.contact_info{

width: 100%;
height:100%;
}

.contact_info h3{
    width:100%;
    height: 32px;
    font-family: Playfair Display;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 1.5em;
}

.contact_info p{
    width:100%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
font-family: Open sans;
font-size: 16px;
font-weight: 400;
letter-spacing: 0;
}

.contact_info span{
    width: 100%;
height:30px;
font-size: 1.5em;

}

.contact_info span a{
color: $subColor;

}

.social_network{
    width: 100%;
    height: 100%;
}

.social_network h3{
    width:100%;
    height: 32px;
    font-family: Playfair Display;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 1.5em;
}

.social_network p{
    width:100%;
height: 28px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
}

.social-links_medium_rounded{
    width:100%;
    height:48px;
    font-size: 20px;
}

.social-links_medium_rounded span{ 
    display: inline-block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-position: center;
}

.subscribe-form{
    width:100%;
    height:100%;
}

.subscribe-form h3{
    width:100%;
    height: 32px;
    font-family: Playfair Display;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 1.5em;
}

.subscribe-form p{
    width: 100%;
    height: 29px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.form-fields{
    width:483px;
    height: 44px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #bdbdbd;
    border-radius: 50px;
    padding: 8px 20px
}

.form-fields p{
    width: 40%;
    height: 30px;
background-color: orange;
}

.form-fields input{
    position: absolute;

    padding-right: 20px;
    border: none;
    color: $pointColor;
}

.footer_colophon{
    width: 1900px;
    height: 106px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
width: 1600px;
height: 67px;
background-color: white;
margin: 0 auto;
display:flex;
align-items: center;
}

.container_lift{
width:50%;
height: 59px;
font-family:open sans;
font-size: 16px;
font-weight: 400;
letter-spacing: 0;
line-height: 1.8;
color: #616161;
display: flex;
align-items: center;
}

.container_lift span a{
    color: $pointColor;
}

.container_right{
    width:50%;
height: 59px;
background-color: palevioletred;
}

.notice{
    width:1900px;
    height: 83px;
    background-color: black;
}

// item

.start_subscript{
    font-family: "open sans";
    font-size: 18px;
    font-weight: 500;
    text-transform:capitalize;
    background-color:$mainColor;
    border-radius: 0px 0px 0px 0px;
    padding: 16px 32px 16px 32px;
    display: flex;
    justify-content: center;
    color: #fff;
}

.span-line{
    width: 134px;
    height: 7px;
    display: inline-block;
    background-color: $subColor;
    margin-bottom: 10px;
}

span img{
    width:20px;
    height: 15px;
    margin-left: 5px;
}