@charset "utf-8";

$mainColor: #ED2874;
$subColor: #CD40E5;

/* section1 */

section{
    display:flex;
    justify-content: center;
}

.section1_main{
width: 80%;
height: 885px;
background-color: red;
display:flex;
}

.section1_main_left{
    width:50%;
    height: 885px;
    background-color: orange;
}

.section1_main_right{
    width:50%;
    height: 885px;
    background-color: yellow;
}

.section1_main_title{
    width: 100%;
    height:20px;
    background-color: green;
}

.section1_main_line{
    width: 100%;
    height: 11px;
    background-color: blue;
}

.section1_main_name{
    width: 100%;
    height: 116px;
    background-color: violet;
}

.section1_main_page{
    width:100%;
    height: 118px;
    background-color: yellowgreen;
}

.section1_main_icon{
    width: 100%;
    
}